@page
@model SampleAzureApp.Pages.DeploymentSlotsModel
@{
    ViewData["Title"] = "Deployment Slots Page";
}

<div class="text-center">
    <h1 class="display-4">Testing Deployment Slots</h1>
    <h3>Validating Deployment Slots Feature</h3>
</div>